@page
@model cosc3380_group4_themepark.Pages.AttractionReportModel
@using System.Text.Json

@section NavbarItems
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Sales">Sales Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/TicketReport">Ticket Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AttractionReport">Ride Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AddMerchandise">Merchandise</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Merchandise">Merchandise Report</a>
    </li>    
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="/css/AttractionReport.css">
<div class="report-container">
    <h1 style="padding-bottom: 20px;">Ride Analytics</h1>
    <div class="report-wrapper">
        <div class="report">
            <form>
            <div class="form-row">
                <input class="form-check-radio" type="radio" name="checkyearorrange" value="year" checked>
                <label for="checkyear" class="form-check-label">Generate report for whole year</label>
                <input class="form-check-radio" type="radio" name="checkyearorrange" value="range">
                <label for="checkrange" class="form-check-label">Generate report for date range</label>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="reportYear">Year: </label><br>
                    <select id="reportYear" name="reportYear" class="form-control">
                        @{
                            
                            for(int i = DateTime.Now.Year; i >= 2000; i--){
                                if(@Model._year == i){
                                                            <option selected value="@i">@i</option>
                                }
                                else{
                                                            <option value=@i>@i</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col">
                    <label for="starttime">Start Date: </label><br>
                    <input type="date" class="form-control" id="reportStartDate" name="starttime" disabled="true"><br>
                </div>
                <div class="col">
                    <label for="endtime">End Date: </label><br>
                
                    <input type="date" class="form-control" id="reportEndDate" name="endtime" disabled="true"><br>
                </div>
                <div class="col">
                </div>         
            </div>
        </form>
        <button id="generate-report-button" class="btn btn-primary btn-sm">Generate Ride Report</button>
            
            <div style="flex-grow: 1;" id="attraction-report-container">
                @* <table>
                    <th>Attraction Name</th>
                    <th>Ride Count</th>
                    <th>Days of Maintenance</th>
                    <th>Average Rides/Day</th>
                @if (@Model.AttractionDataList.Count > 0)
                {
                @foreach (var attraction in @Model.AttractionDataList)
                {
                    <tr>
                        <td>@attraction.attraction_name</td>
                        <td>@attraction.attraction_rides</td>
                        <td>@attraction.attraction_days_in_maintenance</td>
                        <td>@string.Format("{0:0.00}", attraction.attraction_rides_average_this_season)</td>
                    </tr>
                }
                }
                </table> *@
            </div>
        </div>
    </div>
</div>

<script
    src="/js/AttractionReport.js"
    type="text/javascript"
></script>
