@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model MerchandiseModel
@{
    ViewData["Title"] = "Merchandise Request";
}

@*@section NavbarItems
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Sales">Sales Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/TicketReport">Ticket Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AttractionReport">Ride Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AddMerchandise">Merchandise</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Merchandise">Merchandise Report</a>
    </li>    
}*@


<form method="post" asp-page-handler="Merchandise">

    <label for="type">Merchandise Type: </label><br>
    <input type="text" class="form-control" name="type"><br>

    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>

<table class="table">
    @if (@Model.MyMerch != null)
        {
    @if (@Model.MyMerch.Count > 0)
        {
        <thead>
            <tr>
                <th> Item Name </th>
                <th> Item Price </th>
                <th> Items Sold </th>
                <th> Item Revenue </th>
                <th> Merch Type </th>
            </tr>
        </thead>

        @foreach (MerchandiseRow merch in Model.MyMerch)
            {
            <tr>
                <td>@merch.itemName</td>
                <td>@string.Format("{0:0.00}", merch.price)</td>
                <td>@merch.numSold</td>
                <td>@string.Format("{0:0.00}", merch.itemRevenue)</td>
                <td>@merch.mType</td>
            </tr>
            }

        }
        else
        {
        <h7>Nothing found</h7>
        }
        }
</table>

