@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model MerchandiseModel
@{
    ViewData["Title"] = "Merchandise Request";
}




<form method="post">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Start Date" name="sdate" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="End Date" name="edate" />
        </div>
    </div>
    <div class="form-row">
        <input type="submit" value="Submit" asp-page-handler="Submit" />
    </div>
</form>

<table class="table">
    @if (@Model.MyMerch.Count > 0)
    {
        <thead>
            <tr>
                <th> Item Name </th>
                <th> Item Price </th>
                <th> Items Sold </th>
                <th> Item Revenue </th>
            </tr>
        </thead>

        @foreach (MerchandiseRow merch in Model.MyMerch)
        {
            <tr>
                <td>@merch.itemName</td>
                <td>@merch.price</td>
                <td>@merch.numSold</td>
                <td>@merch.itemRevenue</td>
            </tr>
        }

    }
    else
    {
        <h7>Nothing found</h7>
    }
</table>

